header {
    background-color: white;
    color: black;
    height:50px;
}
h1 {
    height: 30px;
    vertical-align: middle;
}
links {
    align-self: flex-end;
}
body {
    background-color: rgb(7, 32, 14);
    color: aliceblue;
}
img {
    height:35px;
}
aboutme {
    margin-top: 20px;
    margin-bottom: 20px;
    color: antiquewhite;
    font-size:16px ;
}
misc-projects {
    height: 40px;
    font-size:20px ;
}